* {
  /* box-sizing: border-box; */
}

:focus {
  /* TODO */
}

body {
  background: rgb(252, 187, 53);
  background: linear-gradient(
    90deg,
    rgba(252, 187, 53, 1) 16%,
    rgba(223, 62, 45, 1) 60%
  );
  /* TODO */
}

input {
  /* TODO */
  height: 20px;
}

.search-container {
  /* TODO */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  position: relative;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
  /* TODO */
}

#suggestions {
  background-color: antiquewhite;
  position: absolute;
  top: 0px;
  max-height: 15rem;
  overflow-y: scroll;

  width: 12.7rem;

  border: none;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 9px;
  border-radius: 22px;
  width: 220px;
  box-sizing: border-box;
  padding: 0 18px;
}

#suggest {
  cursor: pointer;
  width: 100%;
}

#suggest:hover {
  background-color: rgb(161, 161, 161);
}

#fruit {
  background-color: antiquewhite;
}

input {
  border: none;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  position: relative;
  right: 9px;
  border-radius: 22px;
  width: 220px;
  box-sizing: border-box;
  padding: 0 18px;
}

input[type="button"] {
  background: rgba(197, 62, 126, 0.33) !important;
  color: #ffffff;
  position: relative;
  left: 9px;
  top: 25px;
  width: 100px;
  cursor: pointer;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
